#currentHeading {
    margin-top: 15px !important;
}

 /* .view-all {
    color: #1e414e; 
    font-size: 18px;
    font-style: italic;
    padding-right: 35px;
    position: absolute;
    top: 10px;
    right: 20px;
}  */